@font-face {
  font-family: "Apercu Arabic Pro";
  src: url("../public/fonts/ApercuArabicPro-Regular.eot");
  src: local("Apercu Arabic Pro Regular"), local("ApercuArabicPro-Regular"),
    url("../public/fonts/ApercuArabicPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/ApercuArabicPro-Regular.woff2") format("woff2"),
    url("../public/fonts/ApercuArabicPro-Regular.woff") format("woff"),
    url("../public/fonts/ApercuArabicPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Arabic Pro";
  src: url("../public/fonts/ApercuArabicPro-Medium.eot");
  src: local("Apercu Arabic Pro Medium"), local("ApercuArabicPro-Medium"),
    url("../public/fonts/ApercuArabicPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/ApercuArabicPro-Medium.woff2") format("woff2"),
    url("../public/fonts/ApercuArabicPro-Medium.woff") format("woff"),
    url("../public/fonts/ApercuArabicPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Arabic Pro";
  src: url("../public/fonts/ApercuArabicPro-Light.eot");
  src: local("Apercu Arabic Pro Light"), local("ApercuArabicPro-Light"),
    url("../public/fonts/ApercuArabicPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/ApercuArabicPro-Light.woff2") format("woff2"),
    url("../public/fonts/ApercuArabicPro-Light.woff") format("woff"),
    url("../public/fonts/ApercuArabicPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Arabic Pro";
  src: url("../public/fonts/ApercuArabicPro-Bold.eot");
  src: local("Apercu Arabic Pro Bold"), local("ApercuArabicPro-Bold"),
    url("../public/fonts/ApercuArabicPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/ApercuArabicPro-Bold.woff2") format("woff2"),
    url("../public/fonts/ApercuArabicPro-Bold.woff") format("woff"),
    url("../public/fonts/ApercuArabicPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: absolute;
  width: 87px;
  height: 87px;
  left: 714px;
  top: 21px;
  background: #fad34f;
  opacity: 0.1;
  border-radius: 50%;
}

.container {
  padding-left: 145px;
  margin: 175px 0;
  overflow: hidden;
}

.title {
  font-family: "Apercu Arabic Pro";
  color: #3e3e3e;
  font-size: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 563px;
  gap: 8px;
  z-index: 5;
  position: relative;
}

.form__input,
.form__textarea {
  padding: 30px 45px;
  border-color: #dcdcdc;
  border-radius: 10px;
  font-family: "Apercu Arabic Pro";
  font-size: 18px;
  color: #2d2d2d;
}

.form__btn {
  background-color: #fad34f;
  cursor: pointer;
  color: #ffffff;
  padding: 25px 0;
  border-radius: 500px;
  max-width: 218px;
  font-family: "Apercu Arabic Pro";
  font-size: 18px;
  margin-top: 23px;
}

.footer {
  background-color: #fafafa;
  border-top-color: #d8d8d8;
  height: 180px;
  position: relative;
  overflow: hidden;
  width: 100%;
  bottom: 0;
}

.social-media-list {
  padding-left: 25%;
  padding-top: 79px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  gap: 25px;
}

.yellow-smile-1 {
  position: absolute;
  left: 2.01%;
  right: 91.85%;
  top: 6.55%;
  bottom: 85.84%;

  transform: rotate(-35.19deg);
}

.big-cloud-1 {
  position: absolute;
  left: -6.39%;
  top: 64%;
  opacity: 0.5;
}

.big-cloud-2 {
  position: absolute;
  left: 22%;
  top: 100%;
  opacity: 0.5;
}

.big-cloud-3 {
  position: absolute;
  right: 30%;
  top: 20%;
  opacity: 0.5;
}

.small-cloud-1 {
  position: absolute;
  right: 40%;
  top: 40%;
  opacity: 0.5;
}

.globe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.big-red-smile {
  position: absolute;
  right: 25.24%;
  top: 78%;
}

.yellow-smile-2 {
  position: absolute;
  top: 73%;
  right: 36%;
}

.footer__big-red-smile {
  position: absolute;
  left: 2%;
  top: -20%;
}

.footer___yellow-smile {
  position: absolute;
  left: 94.17%;
  right: -0.3%;
  top: 30%;
}

.footer__green-smile {
  position: absolute;
  right: 10%;
  top: 0;
}
